.root-container {
  display: grid;
  grid-template-columns: 10% 87%;
  gap: 1em;
}

@media(max-width:1074px) {
  .root-container {
    display: block;
  }

  .root-container main {
    padding: 1em;
  }
}