.search-form-wrapper {
  margin-bottom: 1.5em;
}

.input-wrapper input {
  background-color: #AE445A;
  border: none;
}

.search-form-wrapper form {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  gap: 1em;

}

.search-form-wrapper button {
  /* margin-left: -2em; */
  border-radius: 1em;
}

.search-form-wrapper input {
  width: 100%;
  padding: 1.5em 2em;
  outline: none;
  border-radius: 3px;
}

.input-wrapper input::placeholder {
  color: lightgrey;
  font-size: 1rem;
}



.input-wrapper input:focus {
  color: #fff;
  background-color: lightcoral;
  border: 3px solid indianred;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width:1074px) {
  .search-form-wrapper {
    margin-top: 2.5em;
  }
}