/* @tailwind components;
@tailwind base;
@tailwind utilities; */

:root {
  --priBackground: #451952;
  --white: #ffffff;
  --nav: #662549;
  --speccialText: #F39F5A;
  --theBut: #AE445A;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',
    sans-serif;
}

body {
  background-color: var(--priBackground);
}